* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    background-color: #EAEFEF;
    color: #333446;
}

.whole-page {
    margin: 20px;
    display: grid;
    grid-template-columns: 1.3fr 4fr;
}

/* left side */
.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.126);

}

.search-bar {
    display: flex;
    gap: 8px;
}

.search-icon {
    cursor: pointer;

    transition: all ease 0.15s;
}

.search-icon:hover {
    transform: translateX(-3px);
}

.search-bar-input {
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
    font-size: 15px;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-input::placeholder {
    color: black
}

.error-message {
    color: red;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
}


.condition-icon img {
    width: 190px;
    height: 190px;
    text-align: center;
    margin-top: 10px;
}

.current-info .temp {
    font-size: 3.3rem;
    text-align: center;
    margin-top: 10px;

}

.day-time {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}


.day {
    font-weight: bolder;
}

hr {
    border: none;
    height: 0.5px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.219);
}

.condition-rain-text {
    margin: 40px 0px;
    font-size: 12px;
    font-weight: bolder;
}

.city-country {
    font-weight: bolder;
}

.generated-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* right side */
.right-side {

    display: flex;
    flex-direction: column;
    padding: 30px 50px;

    gap: 30px;

}

.degree-unit {
    align-self: flex-end;
}


.c-btn,
.f-btn {
    padding: 10px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.126);

    border: none;
    background-color: #333446;
    color: white;

    transition: all ease 0.15s;
}

.c-btn {
    margin-right: 10px;
}

.c-btn:hover,
.f-btn:hover {
    transform: translateY(-8px);

}


/*the unactive unit will have this*/
.unactive {
    background-color: white;
    color: #333446;
}

/* cards */


.day-cards {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    padding: 10px 18px;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.126);

}

.card-day,
.card .temp {
    font-weight: bolder;
}



/*today's highlight*/

.today-high {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chance-rain,
.humidity,
.sunrise,
.sunset,
.highest-temp,
.lowest-temp {
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.126);

    border-radius: 10px;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;

}

.high-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 250px));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    gap: 30px;


}

.card-title {
    align-self: flex-start;
    font-size: 1.15rem;
    font-weight: bolder;
}

.value {
    font-size: 1rem;
    font-weight: bolder;
}

.today-high .title {
    font-size: 15px;
    font-weight: bold;
}


/*icons colors*/

.chance-rain svg {
    color: #7F8CAA;
}

.sunset svg {
    color: rgb(255, 200, 37);
}

.sunrise svg {
    color: orange;
}


.humidity svg {
    color: lightblue;
}

.highest-temp svg {
    color: red;
}

.lowest-temp svg {
    color: blue;
}

/*general**/
.hide {
    display: none;

}


